* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.compra .container-cards, .container-grid-sucursales, .container-grid, main .grid-container, main .container-grid-link {
  margin-top: 50px;
  gap: 20px;
}

.whatsapp {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  transition: transform 0.3s ease;
}
.whatsapp img {
  width: 3rem;
  transition: 0.3 ease;
}
.whatsapp:hover {
  transform: scale(1.2);
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translate(-100%);
  }
}
header {
  background-color: #123458;
}
header .container-fluid .navbar-toggler {
  padding: 0.75rem;
  font-size: 1.5rem;
}
header .container-fluid .navbar-toggler i {
  font-size: 1.5rem;
}
header .container-fluid .marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #030303;
  font-weight: bold;
  padding: 10px;
}
header .container-fluid .marquee .marquee-text {
  display: inline-block;
  margin: 0;
  color: white;
  animation: scroll 10s linear infinite;
}
header .container-fluid a {
  color: white;
}
header .container-fluid a:hover, header .container-fluid a:focus {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
header .container-fluid a img {
  width: 13.5rem;
}

footer {
  background-color: #DDA853;
  color: white;
  text-align: center;
  padding: 20px 0;
}
footer .text-white .container form {
  display: flex;
  justify-content: center;
}
footer .text-white .container form input {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
footer .text-white .container form button {
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
footer .text-white .container .social-icons .img-redes {
  width: 2rem;
  margin: 0 10px;
  transition: transform 0.3s ease;
}
footer .text-white .container .social-icons .img-redes:hover {
  transform: scale(1.1);
}
footer .text-white .container .payment-methods h5 {
  margin-bottom: 10px;
}
footer .text-white .container .payment-methods .d-flex {
  display: flex;
  justify-content: center;
  gap: 15px;
}
footer .text-white .container .payment-methods .d-flex img {
  width: 2rem;
}

main {
  background-color: #D4C9BE;
}
main .titulo-principal {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  padding-top: 20px;
}
main .container-fluid {
  gap: 10px;
}
main .container-fluid .img-carrusel {
  display: block;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid black;
}
main .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(6, 1fr);
  place-items: center;
  width: 100%;
}
@media screen and (max-width: 600px) {
  main .grid-container {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  main .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
main .grid-container .imagen {
  grid-row: 1/span 6;
  width: 100%;
  height: auto;
  object-fit: cover;
}
main .grid-container {
  align-items: center;
}
main .grid-container .grid-item {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
main .container-grid-link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 100%;
}
@media screen and (max-width: 600px) {
  main .container-grid-link {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  main .container-grid-link {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
main .container-grid-link .img-con-link {
  position: relative;
  overflow: hidden;
}
main .container-grid-link .img-con-link img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  border: solid 2px black;
}
main .container-grid-link .img-con-link .link-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
}
main .container-grid-link .img-con-link .link-img:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .container-grid {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .container-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.container-grid .card {
  cursor: pointer;
  transition: 0.4s;
}
.container-grid .card:hover {
  transform: translate(0px, -10px);
}
.container-grid .card .card-body ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-grid .card .card-body ul li {
  padding-top: 10px;
}
.container-grid .card .card-body ul li .fa {
  font-size: 25px;
  transition: 0.4s;
  margin-right: 15px;
}
.container-grid .card .card-body ul li .checked {
  color: yellow;
}
.container-grid .card .card-body .button {
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 15px;
}
.container-grid .card .card-body .card-title,
.container-grid .card .card-body .card-text {
  text-align: center;
}

.container-title {
  width: 100%;
  height: 50vh;
  position: relative;
}
@media (min-width: 950px) {
  .container-title {
    height: 85vh;
  }
  .container-title .titulo-sucursal {
    font-size: 3.5rem;
  }
  .container-title .texto-sucursal {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
}
.container-title .img-titulo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.container-title .texto-superpuesto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.container-title .texto-superpuesto .titulo-sucursal {
  font-size: 2rem;
  margin-bottom: 10px;
}
.container-title .texto-superpuesto .texto-sucursal {
  font-size: 1.2rem;
}

.container-grid-sucursales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .container-grid-sucursales {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .container-grid-sucursales {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.compra {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.compra .container-compra {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #1f242d;
  color: #333;
}
.compra .container-compra h3 {
  color: white;
}
.compra .container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .compra .container-cards {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .compra .container-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.compra .container-cards img {
  width: 100%;
  border-radius: 10px;
}
.compra .container-form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.compra .container-form form {
  width: 700px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
}
.compra .container-form .row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.compra .container-form .row .column {
  flex: 1 1 250px;
}
.compra .container-form .row .column .flex {
  display: flex;
  gap: 15px;
}
.compra .container-form .row .column .flex .input-box {
  margin-top: 5px;
}
.compra .container-form .row .column .title {
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.compra .container-form .row .column .input-box {
  margin: 15px 0;
}
.compra .container-form .row .column .input-box input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}
.compra .container-form .row .column .input-box .span {
  display: block;
  margin-bottom: 10px;
}
.compra .container-form .btn {
  width: 100%;
  padding: 12px;
  background-color: #8175d3;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.compra .container-form .btn:hover {
  background-color: #6a5acd;
}

/*# sourceMappingURL=main.css.map */
