body{
    background-color: black;
}
/*index img promoción*/
.img-box img{
    display: block;
    margin: auto;
    width: 50vw;
}
/*CSS DE PAGINA PRODUCTOS GRID*/
.conteiner-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    gap: 20px;
    place-items: center;
    margin: 50px 0px;
    margin-top: 100px;
}
/* CSS DE CARDS Y VALORACIONES 5 ESTRELLAS*/
.card{
    cursor: pointer;
    transition: .4s;
}
.card:hover{
    transform: translate(0px, -10px);
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    padding-top: 10px;
}
.fa{
    font-size: 25px;
    transition: .4s;
    margin-right: 15px;
}
.checked{
    color: yellow;
}
.button{
    text-align: center;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
/*PAGINA SUCURSALES*/
/* GRID creo que si usaba nth-child seria lo mismo asique creé otra clase no se si está bien ya que repito código y solo quiero cambíar las columnas...*/ 
.conteiner-grid-sucursales{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    width: 100%;
    gap: 15px;
    margin-top: 100px;
}
/*PÁGINA COMPRA*/
.table img{
    width: 10vw;
}
.btn{
    padding: 10px;
    margin: 5px;
}
.btn:hover{
    background-color:dodgerblue;
}
/*MEDIA QUERY PARA DISPOSITIVOS MOVILES*/
@media (max-width: 600px){
    header img{
        display: block;
        margin: auto;
    }
    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    section img{
        width: 70vw;
    }
}
/*MEDIA QUERY PARA TABLETS Y PANTALLAS MEDIANAS*/
/*@media (min-width: 601px) and (max-width: 1024px) { 
    header{
        position: fixed;
        width: 100%;
        background-color:black;
        z-index: 1000;
    }
}
/*
@media (min-width:1025px){
    header{
        position: fixed;
        width: 100%;
        background-color:black;
        z-index: 1000;
    }
}*/