body {
    background-color: black;
    //HEADER ESTILO PARA PÁGINA INDEX
    header {
        nav {
            .img-box img {
                display: block;
                margin: auto;
                width: 80vw;
            }
        }
    }
    //MAIN ESTILO PARA PÁGINA PRODUCTOS
    main {
        section {
            .conteiner-grid {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                width: 100%;
                gap: 20px;
                place-items: center;
                margin: 100px 0px 50px 0px;

                .card {
                    cursor: pointer;
                    transition: .4s;

                    &:hover {
                        transform: translateY(-10px);
                    }

                    .card-body {
                        text-align: center;

                        ul {
                            list-style: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            li {
                                padding-top: 10px;
                                .checked {
                                    color: yellow;
                                    font-size: 25px;
                                    transition: .4s;
                                    margin-right: 15px;
                                }
                            }
                        }
                        .button {
                            text-align: center;
                            font-size: 1.25rem;
                            padding: 15px;
                            border-radius: 15px;
                        }
                    }
                }
            }
        }
    }
}