//HEADER PARA LAS PÁGINAS
//ANIMACIÓN
@use "../animations/keyframes";
@use "../base/base" as b;

//CONTENEDOR DEL BUSCADOR, EL LOGO Y LOS ICONOS
header {
    background-color: b.$primary-color;
    .container-fluid {
        .navbar-toggler{
            padding: 0.75rem;
            font-size: 1.5rem;
            i{
                font-size: 1.5rem;
            }
        }
        .marquee {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            background-color: b.$tertiary-color;
            font-weight: bold;
            padding: 10px;

            .marquee-text {
                display: inline-block;
                margin: 0;
                color: b.$a-color;
                animation: scroll 10s linear infinite;
            }
        }
        //.img-fluid- LINKS DE INICIAR SESIÓN Y CARRITO
        a {
            color: b.$a-color;
            &:hover,&:focus{
                opacity: 0.7;
                transition: opacity 0.3s ease;
            }
           & img{
                width: 13.5rem;
           }
        }
    }
}