//HEADER PARA LAS PÁGINAS


//CONTENEDOR DEL BUSCADOR, EL LOGO Y LOS ICONOS
.container-fluid {
    .marquee {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        background-color: $tertiary-color;
        color: $text-color;
        font-weight: bold;
        padding: 10px;

        .marquee-text {
            display: inline-block;
            animation: scroll 10s linear infinite;
        }
    }
    //NAV DE BOOSTRAP
    .row{
        a{
            color: $text-color;
        }
        //.img-fluid modo de prueba
        a img{
            width: 13.5rem;
        }
    }
}