//SCSS PARA VARIABLES

// COLORS
$primary-color: #123458;
$secondary-color:#DDA853;
$tertiary-color:#030303;
$text-color:#D4C9BE;

// TYPOGRAPHY
$main-font: "Playfair Display", serif;
$size-font: 16px;

//SHADOW
$shadow:rgba(0, 0, 0, 0.5);