//SCSS PARA VARIABLES

// COLORS
$primary-color: #123458;
$secondary-color:#DDA853;
$tertiary-color:#030303;
$text-color:#D4C9BE;

// TYPOGRAPHY
$main-font: "Playfair Display", serif;
$sise-font: 16px;

//SHADOW
$shadow: 0 4px 6px rgba(0, 0, 0, 0.5);