//SCSS PARA VARIABLES

// COLORS
$primary-color: #123458;
$secondary-color:#DDA853;
$tertiary-color:#030303;
$text-color:#D4C9BE;
$a-color:white;
$title-color: #333;
$backgroud-compra:#1f242d;
$backgroud-btn:#8175d3;
$backgroud-btn-sombra: #6a5acd;

// TYPOGRAPHY
$main-font: "Roboto", sans-serif;
$size-font: 1.5rem;
$size-title: 3rem;
//SHADOW
$shadow:rgba(0, 0, 0, 0.5);