<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SUCURSALES</title>
  <!-- BOOSTRAP CSS !-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!--LINK LETRAS-->
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <!--link de iconos para el header-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- MENU -->
  <header>
    <section class="container-fluid py-3">
      <div class="marquee">
        <span class="marquee-text">🔥 20% OFF en toda la tienda - Envío GRATIS en compras mayores a $50.000
          🔥</span>
      </div>
      <!--NAV CON GRID BOOSTRAP-->
      <div class="row align-items-center">
        <div class="col-4 d-flex">
          <!--MENU HAMBURGUESA SOLO PARA MOVILES DE BOOSTRAP-->
          <nav class="d-md-none">
            <div class="container-fluid justify-content-start">
              <button class="navbar-toggler d-md-none me-auto" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Cambiar navegación">
                <i class="fa fa-bars"></i>
              </button>
          </nav>
          <div class="offcanvas offcanvas-end text-bg-dark d-md-none" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">PANTHER</font>
                </font>
              </h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                aria-label="Cerca"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav flex-column text-center">
                <li class="nav-item"><a class="nav-link" href="../index.html">INICIO</a></li>
                <li class="nav-item"><a class="nav-link" href="./nosotros.html">NOSOTROS</a></li>
                <li class="nav-item"><a class="nav-link" href="./productos.html">PRODUCTOS</a></li>
                <li class="nav-item"><a class="nav-link" href="#">SUCURSALES</a></li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-success" type="submit">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Buscar</font>
                  </font>
                </button>
              </form>
            </div>
          </div>
          <input type="text" class="form-control d-none d-md-block" placeholder="Buscar productos...">
        </div>
        <!-- LOGO PANTHER-->
        <div class="col-4 text-center">
          <a href="index.html">
            <img src="../img/logo-panther.png" alt="logo-panther" class="img-fluid">
          </a>
        </div>
        <!--ICONOS DE INICIAR SESIÓN Y COMPRA-->
        <div class="col-4 d-flex justify-content-end">
          <a href="#" class="me-3">
            <i class="fa fa-user" style="font-size: 24px;"></i>
            <span class="d-none d-md-inline">INICIAR SESIÓN</span>
          </a>
          <a href="./compra.html" class="me-3">
            <i class="fa fa-shopping-bag" style="font-size: 24px;"></i>
            <span class="d-none d-md-inline">CARRITO</span>
          </a>
        </div>
        <!--BUSCADOR ACOMODADO PARA PANTALLAS MÁS CHICAS-->
        <div class="row mt-3 d-md-none">
          <div class="col-12">
            <input type="text" class="form-control" placeholder="Buscar productos...">
          </div>
        </div>
      </div>
    </section>
    <!--MENU DESKTOP-->
    <nav class="d-none d-md-flex justify-content-center my-3" id="mainNav">
      <ul class="nav">
        <li class="nav-item"><a href="../index.html" class="nav-link">INICIO</a></li>
        <li class="nav-item"><a href="./nosotros.html" class="nav-link">NOSOTROS</a></li>
        <li class="nav-item"><a href="./productos.html" class="nav-link">PRODUCTOS</a></li>
        <li class="nav-item"><a href="#" class="nav-link">SUCURSALES</a></li>
      </ul>
    </nav>
  </header>
  <!--SUCURSALES MAPAS Y DIRECCIÓNES-->
  <main>
    <section>
      <div class="container-grid-sucursales">
        <!--IFRAME 1 CÓRDOBA-->
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2407.6831260025233!2d-64.18453399044442!3d-31.41472861307175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a282d436f46b%3A0xc2d41f18b37b7e8a!2sPanther!5e0!3m2!1ses!2sar!4v1739822322923!5m2!1ses!2sar"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="card-body">
            <h5 class="card-title">CÓRDOBA</h5>
            <p class="card-text">Horarios de atención: Lunes a Sábado de 08:00 am a 12:00pm y de 16:00pm a 20:00pm</p>
            <p class="card-text">Teléfono: +54-351999990</p>
            <p class="card-text">Correo: tienda@gmail.com</p>
          </div>
        </div>
        <!--IFRAME 2 CÓRDOBA-->
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1702.3957883018368!2d-64.1890432398548!3d-31.419868029296524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a32dcf5d747f%3A0x40373220b29140ac!2sPatio%20Olmos%20Shopping!5e0!3m2!1ses!2sar!4v1739822732618!5m2!1ses!2sar"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="card-body">
            <h5 class="card-title">CÓRDOBA</h5>
            <p class="card-text">Horarios de atención: Lunes a Sábado de 08:00 am a 12:00pm y de 16:00pm a 20:00pm</p>
            <p class="card-text">Teléfono: +54-351999990</p>
            <p class="card-text">Correo: tienda@gmail.com</p>
          </div>
        </div>
        <!--IFRAME 3 CÓRDOBA-->
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16196.839253232612!2d-64.20579365843378!3d-31.415062368912306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943298830933ad09%3A0xb72fd713f4c77c4e!2sNuevocentro%20Shopping!5e0!3m2!1ses-419!2sar!4v1739824337664!5m2!1ses-419!2sar"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="card-body">
            <h5 class="card-title">CÓRDOBA</h5>
            <p class="card-text">Horarios de atención: Lunes a Sábado de 08:00 am a 12:00pm y de 16:00pm a 20:00pm</p>
            <p class="card-text">Teléfono: +54-351999990</p>
            <p class="card-text">Correo: tienda@gmail.com</p>
          </div>
        </div>
        <!--IFRAME 4 BUENOS AIRES-->
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d209491.12731439102!2d-58.07472881183508!3d-34.873840799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e549287e8d7b%3A0xa6e1d0fbf6b8f842!2sPanther!5e0!3m2!1ses!2sar!4v1739822962223!5m2!1ses!2sar"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="card-body">
            <h5 class="card-title">BUENOS AIRES</h5>
            <p class="card-text">Horarios de atención: Lunes a Sábado de 08:00 am a 12:00pm y de 16:00pm a 20:00pm</p>
            <p class="card-text">Teléfono: +54-150999990</p>
            <p class="card-text">Correo: tienda@gmail.com</p>
          </div>
        </div>
        <!--IFRAME 5 BUENOS AIRES-->
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25151.837979622946!2d-57.576195964226!3d-38.00093286097157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc236f80b29d%3A0x38c968d4d3626b6f!2sPaseo%20Aldrey%20Shopping!5e0!3m2!1ses!2sar!4v1739823046839!5m2!1ses!2sar"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="card-body">
            <h5 class="card-title">BUENOS AIRES</h5>
            <p class="card-text">Horarios de atención: Lunes a Sábado de 08:00 am a 12:00pm y de 16:00pm a 20:00pm</p>
            <p class="card-text">Teléfono: +54-1509999990</p>
            <p class="card-text">Correo: tienda@gmail.com</p>
          </div>
        </div>
        <!--IFRAME 6 BUENOS AIRES-->
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d73199.77407181307!2d-57.69807834023655!3d-38.025894146609566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc1a512cecb5%3A0xf4abb7348ed44e0!2sShopping%20Peatonal!5e0!3m2!1ses!2sar!4v1739823071415!5m2!1ses!2sar"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="card-body">
            <h5 class="card-title">BUENOS AIRES</h5>
            <p class="card-text">Horarios de atención: Lunes a Sábado de 08:00 am a 12:00pm y de 16:00pm a 20:00pm</p>
            <p class="card-text">Teléfono: +54-150999990</p>
            <p class="card-text">Correo: tienda@gmail.com</p>
          </div>
        </div>
        <!--IFRAME 7 JUJUY-->
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d456.26616609605804!2d-64.79187671893715!3d-23.813999733695805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941ac190add927dd%3A0xe346af856895f3a8!2sDosis!5e0!3m2!1ses!2sar!4v1739823244864!5m2!1ses!2sar"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="card-body">
            <h5 class="card-title">JUJUY</h5>
            <p class="card-text">Horarios de atención: Lunes a Sábado de 09:00 am a 13:00pm y de 18:00pm a 22:00pm</p>
            <p class="card-text">Teléfono: +54-3886199900</p>
            <p class="card-text">Correo: tienda@gmail.com</p>
          </div>
        </div>
        <!--IFRAME 8 JUJUY-->
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3639.646736522214!2d-65.30348972568643!3d-24.184118984764403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0f43ac3cfb9f%3A0x6de3783cdf249cc7!2sAnnuar%20Shopping!5e0!3m2!1ses-419!2sar!4v1739824377710!5m2!1ses-419!2sar"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="card-body">
            <h5 class="card-title">JUJUY</h5>
            <p class="card-text">Horarios de atención: Lunes a Sábado de 09:00 am a 13:00pm y de 18:00pm a 22:00pm</p>
            <p class="card-text">Teléfono: +54-3886999990</p>
            <p class="card-text">Correo: tienda@gmail.com</p>
          </div>
        </div>
        <!--IFRAME 9 JUJUY-->
        <div class="card" style="width: 18rem;">
          <iframe class="card-img-top"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29115.054135623708!2d-65.32732631397938!3d-24.19340549999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0f45f3f02fbd%3A0x32276a850823c7f0!2sBig%20Mall%20Galer%C3%ADa%20Comercial!5e0!3m2!1ses-419!2sar!4v1739824469429!5m2!1ses-419!2sar"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="card-body">
            <h5 class="card-title">JUJUY</h5>
            <p class="card-text">Horarios de atención: Lunes a Sábado de 09:00 am a 13:00pm y de 18:00pm a 22:00pm</p>
            <p class="card-text">Teléfono: +54-3886999990</p>
            <p class="card-text">Correo: tienda@gmail.com</p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--REDES, FORMAS DE PAGO Y NEWSLETTER-->
  <footer>
    <section class="text-white py-4">
      <!--SUSCRIBETE A NEWSLETTER Y DIV PADRE-->
      <div class="container text-center">
        <h4>Suscríbete a nuestro Newsletter</h4>
        <p>Recibe ofertas exclusivas y las últimas novedades en tu correo.</p>
        <form class="d-flex justify-content-center">
          <input type="email" class="form-control w-50 me-2" placeholder="Tu correo electrónico" required>
          <button type="submit" class="btn btn-primary">Suscribirme</button>
        </form>
        <!--REDES SOCIALES-->
        <div class="social-icons mt-3">
          <a href="https://www.facebook.com/pantherbrand.pe?locale=cy_GB" class="me-3"><img
              src="../img/facebook-3-2.svg" alt="Facebook" class="img-redes"></a>
          <a href="#"><img src="../img/x-2.svg" alt="Twitter" class="img-redes"></a> <!--No encontre link-->
          <a href="https://www.instagram.com/pantheroficial_/"><img src="../img/instagram-2016-5.svg" alt="Instagram"
              class="img-redes"></a>
        </div>
        <!--MÉTODOS DE PAGO-->
        <div class="payment-methods mt-4">
          <h5>Métodos de pago</h5>
          <div class="d-flex justify-content-center">
            <img src="../img/visa-5.svg" alt="Visa">
            <img src="../img/mastercard-modern-design-.svg" alt="Mastercard">
            <img src="../img/paypal-3.svg" alt="Paypal">
            <img src="../img/mercadopago-financiera.svg" alt="Mercado pago">
            <img src="../img/american-express-1.svg" alt="American express">
            <img src="../img/naranja-x-1.svg" alt="Naranja x">
            <img src="../img/pago-facil.png" alt="Pago facil">
          </div>
        </div>
        <!--COPYRIGTH-->
        <p class="mt-3 mb-0">&copy; 2024 PANTHER - Todos los derechos reservados.</p>
      </div>
    </section>
  </footer>
  <!-- LINK JAVA-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>